DB_NAME=<Postgres DataBase Name>
DB_USER=<DataBase user>
DB_PASSWORD=<DataBase user password>
DB_ADDRESS=<IP address of database>
DB_PORT=<Port of database>

SPOTIFY_TOKEN=<Your Spotify Token>
SPOTIFY_USERNAME=<Your Spotify User>